{% extends 'layout.njk' %}

{% set bodyId = "page-list" %}

{% block content %}
    <div id="page-list">

        <div class="secundary_background"></div>

        <div class="container">

            <header>   
                    <div class="links">
                    <img src="./pictures/logo.svg" alt="logo ecoleta">
                    <span>
                        <img src="./pictures/arrow-left.svg" alt="">
                        <a href="/"> Voltar para home</a>
                    </span>
                </div>
            </header>
        
        </div> 
    
    </div>   
{% endblock %}